NEXT_PUBLIC_SUPABASE_URL=https://aczauodubacfereulkbo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjemF1b2R1YmFjZmVyZXVsa2JvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4ODc5MTIsImV4cCI6MjEwNTQ2MzkxMn0.tWACRtPNkHuGIc22fwcLjj7izowAzj-oZkzqqqZbalQ
